body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #515255, #cec8c8);
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

.app-container {
  text-align: center;
  padding: 40px;
}

.button-group {
  margin-bottom: 30px;
}

button {
  background-color: #1c7894;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 18px;
  margin: 5px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0aabc0;
  transform: scale(1.05);
}

.task-box {
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}
